@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/* começo header */

.cabecalho-img {
    background: url(img/bg-header-desktop.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
}   

.cabecalho-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
}   

.titulo1 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 40px;
    width: 60%;
    text-align: center;
}

.paragrafo1 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-weight: bold;
    padding: 20px 0 15px;
    width: 50%;
    text-align: center;
    line-height: 150%;
}

.logo-c{
    padding: 110px 35px;
}

.download {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.button {
    padding: 15px 20px;
    margin: 10px;
    background-color: rgb(57, 141, 46);
    border-radius: 30px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-weight:lighter;
}

#azul-claro {
    background-color: #2BB9B0;
    border-bottom: 5px;
    border-color: #1c6b66;
    box-shadow: 0px 3px 15px 5px #c5dddb;
}

#azul-escuro {
    background-color: #6275FD;
    box-shadow: 0px 3px 15px 5px #c5dddb;
}

a {
    text-decoration: none;
    color: white;
}

/* começo main */

main {
    padding: 100px 0;
}

.parte-pc {
    padding: 50px 0 ;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 572px;
}

#imagem-pc {
    position: relative;
    left: -50px;
}

#txt-pc{
    padding: 0 0 0 50px;
}

#txt-pc h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    padding: 107px 0 0 0;
}

#txt-pc p{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}
