
.cabecalho-img {
    background: url(img/bg-header-desktop.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
}   

.cabecalho-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
}   

.paragrafo1 {
    padding: 20px 0 15px;
    width: 50%;
    text-align: center;
}

.logo-c{
    padding: 110px 35px;
}

.download {
    display: flex;
    justify-content: center;
}

.button {
    padding: 15px 20px;
    margin: 10px;
    background-color: rgb(57, 141, 46);
    border-radius: 30px;
}

#azul-claro {
    background-color: #2BB9B0;
}

#azul-escuro {
    background-color: #6275FD;
}

a {
    text-decoration: none;
    color: white;
}